@if(isRegistered() && tournament().status === 'pending'){
<div class="tournament-card registered" [ngClass]="{'details-page' : detailsPage(), 'admin' : isAdmin}">
  <div class="tournament-card__header">
    <div class="tournament-card__badge">
      Inscrit
    </div>
    <div class="tournament-card__elo">
      <p>{{tournament().min_elo}} - {{tournament().max_elo}} ELO</p>
      <span>{{ tournament().category | join: ' - ' : 'name'}}</span>
    </div>
  </div>
  <h3>{{tournament().name}}</h3>
  <div class="tournament-card__location">
    <svg-icon src="/svg/loc.svg" />
    <p>{{tournament().location}}</p>
  </div>
  <p class="tournament-card__status">Clôture des inscriptions : {{tournament().end_inscription_date | date}}</p>
  <div class="tournament-card__footer">
    <router-button [status]="TournamentStatusCard.registered" [tournamentId]="tournament().id"
      [detailsPage]="detailsPage()" (actionDone)="refreshNeeded.emit()" />

    <div class="tournament-card__participants">
      <svg-icon src="/svg/people.svg" />
      <p>{{tournament().participantsCount}} / {{tournament().max_player}} Joueurs</p>
    </div>
    @if(detailsPage()&& isAdmin && tournament().status === 'pending'){
    <button class="start" (click)="startTournament()">Démarrer le tournoi</button>
    }
  </div>
  <p class="error-message text-right pt-10">{{startError()}}</p>
</div>

}@else if(isComplete()){
<div class="tournament-card complete" [ngClass]="{'details-page' : detailsPage(), 'admin' : isAdmin}">
  <div class="tournament-card__header">
    <div class="tournament-card__badge">
      Complet
    </div>
    <div class="tournament-card__elo">
      <p>{{tournament().min_elo}} - {{tournament().max_elo}} ELO</p>
      <span>{{ tournament().category | join: ' - ' : 'name'}}</span>
    </div>
  </div>
  <h3>{{tournament().name}}</h3>
  <div class="tournament-card__location">
    <svg-icon src="/svg/loc.svg" />
    <p>{{tournament().location}}</p>
  </div>
  <p class="tournament-card__status">Inscriptions terminées</p>
  <div class="tournament-card__footer">
    <router-button [status]="TournamentStatusCard.complete" [tournamentId]="tournament().id" />
    <div class="tournament-card__participants">
      <svg-icon src="/svg/people.svg" />
      <p>{{tournament().participantsCount}} / {{tournament().max_player}} Joueurs</p>
    </div>
    @if(detailsPage()&& isAdmin && tournament().status === 'pending'){
    <button class="start" (click)="startTournament()">Démarrer le tournoi</button>
    }
  </div>
  <p class="error-message text-right pt-10">{{startError()}}</p>
</div>
}

@else{

@if(tournament().status === 'pending'){
<div class="tournament-card pending" [ngClass]="{'details-page' : detailsPage(), 'admin' : isAdmin}">
  <div class="tournament-card__header">
    <div class="tournament-card__badge">
      Inscriptions ouvertes
    </div>
    <div class="tournament-card__elo">
      <p>{{tournament().min_elo}} - {{tournament().max_elo}} ELO</p>
      <span>{{ tournament().category | join: ' - ' : 'name'}}</span>
    </div>
  </div>
  <h3>{{tournament().name}}</h3>
  <div class="tournament-card__location">
    <svg-icon src="/svg/loc.svg" />
    <p>{{tournament().location}}</p>
  </div>
  <p class="tournament-card__status">Clôture des inscriptions : {{tournament().end_inscription_date | date}}</p>
  <div class="tournament-card__footer">
    <router-button [status]="TournamentStatusCard.pending" [tournamentCanRegister]="canRegister()"
      [tournamentId]="tournament().id" [detailsPage]="detailsPage()" (actionDone)="refreshNeeded.emit()" />
    <div class="tournament-card__participants">
      <svg-icon src="/svg/people.svg" />
      <p>{{tournament().participantsCount}} / {{tournament().max_player}} Joueurs</p>
    </div>
    @if(detailsPage() && isAdmin){
    <button class="start" (click)="startTournament()">Démarrer le tournoi</button>
    }
  </div>
  <p class="error-message text-right pt-10">{{startError()}}</p>
</div>

}@else if(tournament().status === 'inProgress'){
<div class="tournament-card in-progress" [ngClass]="{'details-page' : detailsPage(), 'admin' : isAdmin}">
  <div class="tournament-card__header">
    <div class="tournament-card__badge">
      En cours
    </div>
    <div class="tournament-card__elo">
      <p>{{tournament().min_elo}} - {{tournament().max_elo}} ELO</p>
      <span>{{ tournament().category | join: ' - ' : 'name'}}</span>
    </div>
  </div>
  <h3>{{tournament().name}}</h3>
  <div class="tournament-card__location">
    <svg-icon src="/svg/loc.svg" />
    <p>{{tournament().location}}</p>
  </div>
  <p class="tournament-card__status">En cours de déroulement...</p>
  <div class="tournament-card__footer">
    <router-button [status]="TournamentStatusCard.inProgress" [tournamentId]="tournament().id" />
    <div class="tournament-card__participants">
      <svg-icon src="/svg/people.svg" />
      <p>{{tournament().participantsCount}} / {{tournament().max_player}} Joueurs</p>
    </div>
    @if(detailsPage()&& isAdmin){
    <button class="start" (click)="nextRound()">Ronde suivante</button>
    }
  </div>
  <p class="error-message text-right pt-10">{{startError()}}</p>
</div>

}@else if(tournament().status === 'finished'){
<div class="tournament-card finished" [ngClass]="{'details-page' : detailsPage(), 'admin' : isAdmin}">
  <div class="tournament-card__header">
    <div class="tournament-card__badge">
      Terminé
    </div>
    <div class="tournament-card__elo">
      <p>{{tournament().min_elo}} - {{tournament().max_elo}} ELO</p>
      <span>{{ tournament().category | join: ' - ' : 'name'}}</span>
    </div>
  </div>
  <h3>{{tournament().name}}</h3>
  <div class="tournament-card__location">
    <svg-icon src="/svg/loc.svg" />
    <p>{{tournament().location}}</p>
  </div>
  <p class="tournament-card__status">Tournoi terminé</p>
  <div class="tournament-card__footer">
    <router-button [status]="TournamentStatusCard.finished" [tournamentId]="tournament().id" />
    <div class="tournament-card__participants">
      <svg-icon src="/svg/people.svg" />
      <p>{{tournament().participantsCount}} / {{tournament().max_player}} Joueurs</p>
    </div>
  </div>
</div>
}
}