@reference "../../../../tailwind.css";

.tournament-card{
  cursor: pointer;
  width: 100%;
  background-color: var(--light-grey-color);
  @apply p-20 md:p-32;

  &.details-page{
    cursor: auto;
    background-color: white;
    border: 1px solid var(--mild-grey-transparent-color) !important;
    padding-inline: 50px;
    h3{
      font-size: 42px;
      color: var(--primary-color);
    }
    .tournament-card__footer{
      display: grid;
      grid-template-columns: 250px 1fr;
      .tournament-card__participants {
        justify-self: end;
      }
    }
    &.admin{
      .tournament-card__footer{
        grid-template-columns: 250px 1fr 250px;
      }
    }
  }

  h3{
    font-weight: 500;
  }
  .tournament-card__location, .tournament-card__participants{
    display: flex;
    align-items: center;
    line-height: 0.8;
    gap:5px;
    color: var(--mild-grey-color);
  }
  .tournament-card__location{
    margin-bottom: 25px;
  }

  .tournament-card__badge{
    position: relative;
    width: fit-content;
    border-radius: 999px;
    color: white;
    padding: 8px 24px;
    margin-bottom: 24px;
    line-height: 1;
  }
  &.pending{
    border-left: 4px solid var(--primary-color);
    .tournament-card__badge{
      background-color: var(--primary-color);
    }
  }
  &.in-progress{
    border-left: 4px solid var(--in-progress-color);
    .tournament-card__badge{
      background-color: var(--in-progress-color);
      &::before{
        content:"";
        position: absolute;
        left:10px;
        top:calc(50% - 3px);
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: white;
      }
    }
  }
  &.finished{
    border-left: 4px solid var(--mild-grey-color);
    .tournament-card__badge{
      background-color: var(--mild-grey-color);
    }
  }
  &.registered{
    border-left: 4px solid var(--mild-grey-color);
    .tournament-card__badge{
      background-color: var(--mild-grey-transparent-color);
      color:var(--secondary-color);
    }
  }
  &.complete{
    border-left: 4px solid var(--mild-grey-color);
    .tournament-card__badge{
      background-color: var(--mild-grey-transparent-color);
      color:var(--secondary-color);
    }
  }

  .tournament-card__header{
    display: flex;
    justify-content: space-between;
  }
  .tournament-card__elo{
    text-align: right;
  }
  .tournament-card__status{
    margin-bottom: 16px;
  }
  .tournament-card__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap:10px;
    p{
      text-align: right;
    }
  }

}
