@reference "../../../tailwind.css";
.s-title{

  h2{
  
    padding-top: 15px;
    @apply md:max-w-1/2;
  }
}
.s-filters{
  padding-block: 0;
  form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr 0.5fr 1fr;
    gap:24px;
    width: 100%;
    border: 1px solid var(--primary-transparent-color);
    padding: 24px;

    label{
      display: block;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 700;
      color: var(--mild-grey-color);
      padding-bottom: 8px;
    }
    & > *{
      width: 100%;
      button{
        margin-top: -1px;
      }
    }
    input:not([type='checkbox']), select{
      width: 100%;
      border: 1px solid var(--primary-transparent-color);
      padding: 8px 13px;
    }
    .checkbox{
      display: flex;
      align-items: center;
      gap: 10px;
      padding-top: 26px;
      label{
        padding: 0;
      }
    }
    .s-filters__elo-inputs{
      display: flex;
      gap: 24px;
    }
  }
}

.s-tournaments{
  .cards-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:32px;
    width: 100%;
  }
}


