<button class={{status()}} [disabled]="isDisabled() || isDisabledWhenLoading()" (click)="onClick()">
  @if(isDisabledWhenLoading()){
  Loading <span class="loading-spinner"></span>
  }@else {

  @if(status() === TournamentStatusCard.pending){
  @if(!tournamentCanRegister()){
  Vous ne remplissez pas les conditions
  }@else{
  S'inscrire
  }
  }@else if(status() === TournamentStatusCard.inProgress){
  Voir le live
  }@else if(status() === TournamentStatusCard.complete){
  Fermé
  }@else if(status() === TournamentStatusCard.finished){
  Voir les résultats
  }@else if(status() === TournamentStatusCard.registered){
  Se désinscrire
  }
  }
</button>
@if(registerError()){
<p class="error-message">{{registerError()}}</p>
}