<main class="m-tournament-details" [ngClass]="{'admin':isAdmin()}">
  <section class="s-tournament-card">
    @if(tournament()) {
    <tournament-card [tournament]="tournament()!" [tournamentCanRegister]="tournamentCanRegister()"
      (refreshNeeded)="onRefresh()" [detailsPage]="true" />
    } @else {
    <p>Chargement...</p>
    }
  </section>

  @if(tournament()?.participant){
  <section class="s-players">
    <div class="section-header">
      <h2 class="title-h3">Joueurs inscrits</h2>
      <p>{{tournament()?.participantsCount}} participants</p>
    </div>
    <table>
      <tr class="th">
        <td>Pseudo</td>
        <td>Elo</td>
        <td>Âge</td>
        <td>Genre</td>
      </tr>
      <div class="table-container">
        @for(player of tournament()?.participant; track player.id){
        <tr>
          <td class="pseudo">{{player.pseudo}}</td>
          <td class="elo">{{player.elo}}</td>
          <td class="birtdate">{{getAge(player.birthDate)}} ans</td>
          <td class="gender">
            @if(player.gender === 'male'){ Homme }
            @else if(player.gender === 'female'){ Femme }
            @else if(player.gender === 'other'){ Autre }
          </td>
        </tr>
        }
      </div>
    </table>
  </section>
  <section class="s-round">
    <div class="section-header">
      <h2 class="title-h3">Rencontres de la ronde</h2>
      <p class="round-badge">Ronde {{tournament()?.current_round}} en cours</p>
    </div>

    <div class="match-container">
      @for(match of tournament()?.currentMatches; track match.id){
      <div class="match" [ngClass]="{'admin':isAdmin()}">
        <div class="white-player">
          <span>Blanc</span>
          <span>{{match.whitePlaying.pseudo}}</span>
        </div>
        <div class="result">
          <span>
            @if(match.result === 'Draw'){
            Égalité
            }@else if(match.result === 'Live') {vs}
            @else{Vainqueur}

          </span>
          <span>{{match.result}}</span>
          @if(errorUpdate().id === match.id){
          <p class="error-message">{{errorUpdate().message}}</p>
          }
        </div>
        <div class="black-player">
          <span>Noir</span>
          <span>{{match.blackPlaying.pseudo}}</span>
        </div>
        @if(isAdmin()){


        <button class="start" (click)="setResult(match.id,match.whitePlaying.id, 'false')">White wins</button>
        <button class="start" (click)="setResult(match.id, null, 'true')">Draw</button>
        <button class="start" (click)="setResult(match.id, match.blackPlaying.id, 'false')">Black wins</button>

        }
      </div>
      }
    </div>

  </section>
  <section class="s-scores">
    <div class="section-header">
      <h2 class="title-h3">Tableau des scores</h2>
      <p>Mis à jour il y a {{updateTime()}} minutes</p>
    </div>
  </section>
  }
</main>